<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Consultorios</h1>

<table border="1" style="margin: 0 auto">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Ubicacion</th>
      <th>Tipoconsultorio</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @consultorios.each do |consultorio| %>
      <tr>
        <td><%= consultorio.nombre %></td>
        <td><%= consultorio.codigo %></td>
        <td><%= consultorio.ubicacion %></td>
        <td><%= consultorio.tipoConsultorio %></td>
        <td><%= link_to 'Mostrar', consultorio %></td>
        <td><%= link_to 'Editar', edit_consultorio_path(consultorio) %></td>
        <td><%= link_to 'Destruir', consultorio, method: :delete, data: { confirm: '¿Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p style="text-align: center">
<%= link_to 'Nuevo Consultorio', new_consultorio_path %>
</p>