<%= form_with(model: paciente, local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos %>
  </div>

  <div class="field">
    <%= form.label :fechaNacimiento %>
    <%= form.date_select :fechaNacimiento %>
  </div>

  <div class="field">
    <%= form.label :numeroDocumento %>
    <%= form.number_field :numeroDocumento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
