<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @paciente.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @paciente.apellidos %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @paciente.fechaNacimiento %>
</p>

<p>
  <strong>Numerodocumento:</strong>
  <%= @paciente.numeroDocumento %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
