<p id="notice"><%= notice %></p>

<h1>Cita</h1>

<table>
  <thead>
    <tr>
      <th>Consultorio</th>
      <th>Paciente</th>
      <th>Medico</th>
      <th>Fechacita</th>
      <th>Horainicio</th>
      <th>Horafin</th>
      <th>Motivocita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.consultorio %></td>
        <td><%= citum.paciente %></td>
        <td><%= citum.medico %></td>
        <td><%= citum.fechaCita %></td>
        <td><%= citum.horaInicio %></td>
        <td><%= citum.horaFin %></td>
        <td><%= citum.motivoCita %></td>
        <td><%= link_to 'Show', citum %></td>
        <td><%= link_to 'Edit', edit_citum_path(citum) %></td>
        <td><%= link_to 'Destroy', citum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citum', new_citum_path %>
