<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Medicos</h1>

<table border="1" style="margin: 0 auto">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Numeroidentificacion</th>
      <th>Numerocelular</th>
      <th>Tipomedico</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @medicos.each do |medico| %>
      <tr>
        <td><%= medico.nombres %></td>
        <td><%= medico.apellidos %></td>
        <td><%= medico.numeroIdentificacion %></td>
        <td><%= medico.numeroCelular %></td>
        <td><%= medico.tipoMedico %></td>
        <td><%= link_to 'Mostrar', medico %></td>
        <td><%= link_to 'Editar', edit_medico_path(medico) %></td>
        <td><%= link_to 'Destruir', medico, method: :delete, data: { confirm: '¿Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p style="text-align: center">
<%= link_to 'Nuevo Medico', new_medico_path %>
</p>